<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Rock! Paper! Scissors!</title>
  <link rel="stylesheet" href="https://unpkg.com/carbon-components@latest/css/carbon-components.css" />
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <script src="https://unpkg.com/tinyqueue@2.0.0/tinyqueue.min.js"></script> -->

</head>

<body>
  <header>
    <h1>Rock! Paper! Scissors!</h1>
  </header>

  <div class="score-board">
    <div id="user-label" class="badge">You</div>
    <div id="score-label" class="badge">Score</div>
    <div id="computer-label" class="badge"> Ai </div>
    <div class="result">
      <div id="user-score">0</div>
      <div id="computer-score">0</div>
      <p>Pick a hand to play.</p>
    </div>

  </div>



  <div id="countdown">
    Press a key to begin count down.
  </div>

  <div class='video-feed'>
    <video class="hidden canvasbox" id="myvideo"></video>
    <canvas id="video-canvas" class="border canvasbox"></canvas>
  </div>

  <div class="choices">
    <div class="choice" id="rock">
      <img id="pic" src="static/images/rock.png" alt="">
    </div>

    <div class="choice" id="paper">
      <img id="pic" src="static/images/paper.png" alt="">
    </div>

    <div class="choice" id="scissor">
      <img id="pic" src="static/images/scissor.png" alt="">
    </div>
  </div>

  <div class="mb10">
    <button onclick="toggleVideo()" id="trackbutton" class="bx--btn bx--btn--secondary" type="button">
      Play
    </button>
    <div id="updatenote" class="updatenote mt10"> loading model ..</div>
  </div>



  <script src="static/js/app.js" charset="utf-8"></script>

  <script src="https://cdn.jsdelivr.net/npm/handtrackjs/dist/handtrack.min.js"></script>

  <script src="static/js/track.js" charset="utf-8"></script>


</body>

</html>